*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body{
            background-color: #f0f2f5;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .signup-box{
            background-color: white;
            width: 530px;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }

        h2{
            margin-bottom: 10px;
        }

        p{
            color: gray;
            margin-bottom: 20px;
        }

        .name{
            display: flex;
            gap: 10px;
        }

        .dob{
            display: flex;
            gap: 20px;
        }

        input, select{
            width: 100%;
            padding: 12px;
            margin-bottom: 12px;
            border: 1px solid #ddd;
            border-radius: 6px;
        }

        button{
            width: 100%;
            padding: 12px;
            background-color: #42b72a;
            color: white;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
        }

        .login-link{
            display: block;
            text-align: center;
            margin-top: 15px;
            text-decoration: none;
            color: #1877f2;
        }