/* Full Page */

.github-page{
    min-height:100vh;
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

/* Card */

.github-card{
    width:500px;
    background:#1e293b;
    padding:50px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
    transition:.4s;
}

.github-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 40px rgba(139,92,246,.35);
}

/* Heading */

.github-card h1{
    color:#ffffff;
    font-size:2.3rem;
    margin-bottom:20px;
}

/* Text */

.github-card p{
    color:#cbd5e1;
    font-size:1rem;
    line-height:1.8;
    margin-bottom:35px;
}

/* Button */

.github-btn{
    display:inline-block;
    padding:14px 32px;
    background:#8b5cf6;
    color:white;
    text-decoration:none;
    border-radius:50px;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.github-btn:hover{
    background:#7c3aed;
    transform:scale(1.05);
    color:white;
}

/* Responsive */

@media(max-width:768px){

.github-card{
    width:100%;
    padding:35px 25px;
}

.github-card h1{
    font-size:2rem;
}

.github-card p{
    font-size:.95rem;
}

.github-btn{
    width:100%;
    text-align:center;
}

}